.form-group {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto; /* Permitir desplazamiento vertical */
  max-height: 70vh; /* Altura máxima ajustada para el contenedor del formulario */
  padding: 16px; /* Espacio interno para el contenedor */
}

.half-width {
  width: calc(50% - 16px);
  margin-right: 16px;
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
