<div class="dd">
<div class="hero-section">
  <h1>Bienvenido a Diario de Pesca</h1>
</div>

<div class="agregar-container" style="margin-top: 25px; display: flex; align-items: center;">
  <h3 style="margin: 0; margin-right: 10px;"> Añade un nuevo registro</h3> 
  <span><button class="btn-celeste" (click)="openFomrCreate()"><i class="fas fa-plus"></i></button></span>
</div>

<div class="container" style="display: flex; justify-content: center;">
  <h3>Registro Diario de Pesca</h3>
</div>

<mat-form-field>
  <mat-label>Filtra por Embarcación o Flota</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Santa Monica I" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->

    <!-- Embarcación Column -->
    <ng-container matColumnDef="embarcacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Embarcación </th>
      <td mat-cell *matCellDef="let row"> {{row.embarcacion}} </td>
    </ng-container>

        <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let row"> {{row.fecha | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Rango Profundidad Inicial Column -->
    <ng-container matColumnDef="numero_alcance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Lance</th>
      <td mat-cell *matCellDef="let row"> {{row.numero_alcance}} </td>
    </ng-container>

    <!-- Flota Column -->
    <ng-container matColumnDef="flota">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Especie</th>
      <td mat-cell *matCellDef="let row"> {{row.flota}} </td>
    </ng-container>


    <!-- Rango Profundidad Final Column -->
    <ng-container matColumnDef="zona_pesca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zona Pesca</th>
      <td mat-cell *matCellDef="let row"> {{row.zona_pesca}} </td>
    </ng-container>

    <!-- Tiempo Efectivo Column -->
    <ng-container matColumnDef="estrato">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estrato</th>
      <td mat-cell *matCellDef="let row"> {{row.estrato}} </td>
    </ng-container>

    <!-- Moda Column -->
    <ng-container matColumnDef="rango_profundidad_inicial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rango PI </th>
      <td mat-cell *matCellDef="let row"> {{row.rango_profundidad_inicial}} </td>
    </ng-container>

    <!-- Porcentaje Column -->
    <ng-container matColumnDef="rango_profundidad_final">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rango PF</th>
      <td mat-cell *matCellDef="let row"> {{row.rango_profundidad_final}} </td>
    </ng-container>

    <!-- AR Column -->
    <ng-container matColumnDef="tiempo_efectivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tiempo Efectivo A</th>
      <td mat-cell *matCellDef="let row"> {{row.tiempo_efectivo}} </td>
    </ng-container>

    <!-- Número Column -->
    <ng-container matColumnDef="rango_talla_inicial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Talla mínima</th>
      <td mat-cell *matCellDef="let row"> {{row.rango_talla_inicial}} </td>
    </ng-container>

    <ng-container matColumnDef="rango_talla_final">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Talla máxima</th>
      <td mat-cell *matCellDef="let row"> {{row.rango_talla_final}} </td>
    </ng-container>

    <ng-container matColumnDef="moda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Moda</th>
      <td mat-cell *matCellDef="let row"> {{row.moda}} </td>
    </ng-container>

    <ng-container matColumnDef="porcentaje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>% Juvenil</th>
      <td mat-cell *matCellDef="let row"> {{row.porcentaje}} </td>
    </ng-container>

    <ng-container matColumnDef="ar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Act. R</th>
      <td mat-cell *matCellDef="let row"> {{row.ar}} </td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Captura (kg)</th>
      <td mat-cell *matCellDef="let row"> {{row.numero}} </td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="warn" (click)="deleteDiarioPesca(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openFomrUpdate(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td mat-cell *matCellDef="let row; columns: displayedColumns;">
        <span>No data matching the filter "{{input.value}}" </span>
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>  
</div>




