/* Contenedor de la sección de héroe */
.hero-section {
  position: relative;
  width: 100%;
  height: 200px; /* Ajusta la altura según tus necesidades */
  background-image: url(../../../../../public/fondo-em.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section h1 {
  position: relative;
  z-index: 1;
  color: hsl(0, 100%, 100%);
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .hero-section {
    height: 100px; /* Ajusta la altura según tus necesidades para dispositivos móviles */
  }

  .hero-section h1 {
    display: none;
  }

  .hero-section::after {
    content: "Bienvenido";
    position: absolute;
    z-index: 1;
    color: hsl(0, 100%, 100%);
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 24px; /* Ajusta el tamaño de la fuente según tus necesidades */
    top: 50%; /* Ajusta la posición vertical según tus necesidades */
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .filter-item {
    width: 100%;
    max-width: none; /* Elimina el ancho máximo en pantallas móviles para usar el 100% */
  }

  .button-container {
    flex-direction: column; /* Apila los botones verticalmente */
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  h3{
    text-align: center;
  }
}

.agregar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.agregar-container h3 {
  margin-right: 10px;
  color: #0A4F81;
  line-height: 1;
}

.btn-celeste {
  background-color: #0A4F81;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  line-height: 1;
  display: flex;
  align-items: center;
}

.btn-celeste:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  padding: 8px;
  border: 1px solid #ddd;
}

.mat-elevation-z8 {
  overflow-x: auto;
  max-width: 100%;
}

.dd{
  background-color: white;
}
body {
  background-color: white;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-item {
  flex: 0 1 auto;
  min-width: 150px;
}

button.filter-item {
  flex: 0 0 auto;
  height: 40px;
  line-height: 1.5;
  padding: 0 20px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: #3f51b5; /* Color del borde */
}

.mat-form-field-appearance-outline .mat-form-field-outline-thickness {
  border-width: 1px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 4px;
}

.mat-datepicker-toggle .mat-icon-button {
  color: #3f51b5;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  color: #3f51b5;
}

.hover-cell {
  cursor: pointer; /
}
