<div class="dd">
<div class="hero-section">
  <h1>Bienvenido a Lances</h1>
</div>

<div class="container" style="display: flex; justify-content: center; margin-top: 35px;">
  <h3>Registro Lances</h3>
</div>

<div class="filter-container">
<mat-form-field appearance="outline" class="filter-item">
  <mat-label>Filtra por Embarcación o Especia</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Santa Monica I" #input>
</mat-form-field>
</div>

<div class="filter-container">
  <mat-form-field appearance="outline" class="filter-item">
    <mat-label>Fecha Inicio</mat-label>
    <input matInput [matDatepicker]="startDatePicker" placeholder="Inicio" [(ngModel)]="startDate">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" class="filter-item">
    <mat-label>Fecha Fin</mat-label>
    <input matInput [matDatepicker]="endDatePicker" placeholder="Fin" [(ngModel)]="endDate">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" class="filter-button primary" (click)="applyDateFilter()" style="margin: 5px;">Aplicar</button>
    <button *ngIf="isDateFiltered" mat-raised-button color="warn" class="filter-button warn" (click)="clearDateFilter()"style="margin: 5px;">Quitar Filtro</button>
  </div>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Embarcación Column -->
    <ng-container matColumnDef="embarcacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Embarcación </th>
      <td mat-cell *matCellDef="let row"> {{row.embarcacionNombre}} </td>
    </ng-container>

        <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
      <td mat-cell *matCellDef="let row"> {{row.fecha | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Rango Profundidad Inicial Column -->
    <ng-container matColumnDef="numero_alcance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N° Lance</th>
      <td mat-cell *matCellDef="let row"> {{row.numero_alcance}} </td>
    </ng-container>

    <!-- Flota Column -->
    <ng-container matColumnDef="especie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Especie</th>
      <td mat-cell *matCellDef="let row"> {{row.especieNombre}} </td>
    </ng-container>


    <!-- Rango Profundidad Final Column -->
    <ng-container matColumnDef="zona_pesca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zona Pesca</th>
      <td mat-cell *matCellDef="let row"> {{row.zonaNombre}} </td>
    </ng-container>

    <!-- Tiempo Efectivo Column -->
    <ng-container matColumnDef="estrato">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Estrato</th>
      <td mat-cell *matCellDef="let row"> {{row.estrato}} </td>
    </ng-container>

    <!-- Moda Column -->
    <ng-container matColumnDef="profundidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Profundidad </th>
      <td mat-cell *matCellDef="let row"> {{row.profundidad}} mts</td>
    </ng-container>

    <!-- AR Column -->
    <ng-container matColumnDef="tiempo_efectivo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tiempo Efectivo A</th>
      <td mat-cell *matCellDef="let row"> {{row.tiempo_efectivo}} h</td>
    </ng-container>

    <!-- Número Column -->
    <ng-container matColumnDef="rango_talla_inicial">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Talla mínima</th>
      <td mat-cell *matCellDef="let row"> {{row.rango_talla_inicial}} cm</td>
    </ng-container>

    <ng-container matColumnDef="rango_talla_final">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Talla máxima</th>
      <td mat-cell *matCellDef="let row"> {{row.rango_talla_final}} cm</td>
    </ng-container>

    <ng-container matColumnDef="moda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Moda</th>
      <td mat-cell *matCellDef="let row"> {{row.moda}} cm</td>
    </ng-container>

    <ng-container matColumnDef="porcentaje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>% Juvenil</th>
      <td mat-cell *matCellDef="let row"> {{row.porcentaje}}% </td>
    </ng-container>

    <ng-container matColumnDef="ar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Act. R</th>
      <td mat-cell *matCellDef="let row"> {{row.ar}} </td>
    </ng-container>

    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Captura (t)</th>
      <td mat-cell *matCellDef="let row"> {{row.numero}} t</td>
    </ng-container>

    <ng-container matColumnDef="costo_lance">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo Lance $</th>
      <td mat-cell *matCellDef="let row"> ${{row.precio_lances}}</td>
    </ng-container>

    <!-- Acciones Column -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="warn" (click)="deleteDiarioPesca(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="openFomrUpdate(row)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td mat-cell *matCellDef="let row">
        <span>No data matching the filter "{{input.value}}" </span>
      </td>
    </tr>
  </table>
</div>
<div class="paginator-container">
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</div>




