.chart-container {
  display: flex;
  flex-direction: row; /* Cambiar a fila para alinear elementos horizontalmente */
  padding: 20px;
  box-sizing: border-box;
}

.filters-and-selection {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ocupa el ancho total disponible */
  max-width: 600px; /* Ajusta este valor según sea necesario */
  margin-bottom: 20px; /* Espacio entre los filtros y la gráfica */
}

.filters-container {
  display: flex;
  flex-direction: column;
  width: 300px; /* Ajusta este valor según sea necesario */
  margin-left: 20px; /* Espacio entre la tabla y los filtros */
}

.chart {
  width: 100%;
  max-width: 800px; /* Ajusta este valor según sea necesario */
  margin-bottom: 20px;
}

/* Estilo para los filtros y selección de embarcaciones/zona */
.filters-and-selection,
.filters-container .custom-checkbox {
  margin-bottom: 10px;
}

.custom-checkbox {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.custom-checkbox:hover {
  background-color: #eee;
}

.custom-checkbox.checked {
  background-color: #dcdcdc;
  box-shadow: inset 0 0 0 1px #000;
}
