<div class="barra-derecha">
  <div class="titulo">
    <h5>Filtra por fechas</h5>
  </div>

  <div class="fecha">
    <mat-form-field appearance="outline" class="filter-item">
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [matDatepicker]="startDatePicker" placeholder="Seleccione Fecha Inicio" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="filter-item">
      <mat-label>Fecha Fin</mat-label>
      <input matInput [matDatepicker]="endDatePicker" placeholder="Seleccione Fecha Fin" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>

    <div class="botones">
      <button mat-raised-button color="primary" class="filter-item filter-button" (click)="applyFilters()">Aplicar Filtros</button>
      <button *ngIf="isDateFiltered" mat-raised-button color="warn" class="filter-item filter-button" (click)="clearFilter()">Quitar Filtro</button>
    </div>
  </div>

  <div class="titulo">
    <h5>Gráficas disponibles</h5>
  </div>

  <div class="botones-tablas">
    <button mat-raised-button color="accent" (click)="showChart('bar')">Combustible</button>
    <button mat-raised-button color="accent" (click)="showChart('hielo-1')">Hielo</button>
    <button mat-raised-button color="accent" (click)="showChart('agua-1')">Agua</button>
    <button mat-raised-button color="accent" (click)="showChart('viveres')">Viveres por Tonelada Recibidas</button>
    <button mat-raised-button color="accent" (click)="showChart('bar-2')">Toneladas Captura</button>
    <button mat-raised-button color="accent" (click)="showChart('line-2')">Costo Captura</button>
    <button mat-raised-button color="accent" (click)="showChart('line')">Toneladas Procesadas Producción</button>
    <button mat-raised-button color="accent" (click)="showChart('especies')">Captura de especies</button>
    <button mat-raised-button color="accent" (click)="showChart('lances')">Precio de Lance</button>
  </div>
</div>

<div class="graficas">

  <div class="filters-container">
    <span><h4> Embarcaciones </h4></span>
    <div class="button-group">
      <button
        class="custom-checkbox"
        *ngFor="let embarcacion of embarcaciones"
        [class.checked]="selectedEmbarcaciones.has(embarcacion.id)"
        (click)="toggleEmbarcacion(embarcacion.id)">
        {{ embarcacion.nombre }}
      </button>
    </div>
  </div>

  <div class="filters-container">
    <h4> Zona Pesca </h4>
    <div class="button-group">
      <button
        class="custom-checkbox"
        *ngFor="let zona of zona_p"
        [class.checked]="selectedZona.has(zona.id)"
        (click)="togleZonaPesca(zona.id)">
        {{ zona.nombre }}
      </button>
    </div>
  </div>

  <div class="filters-container">
    <button class="custom-checkbox" (click)="createPDF()"> Crear PDF</button>
  </div>

  <div class="chart-container" #chartContainer>
    <div *ngIf="currentChart === 'bar'" class="chart">
      <app-grafico-barras [data]="filteredData"></app-grafico-barras>
      <app-combustible-procesables [data]="filteredData"></app-combustible-procesables>
      <app-combustible-x-hora [data]="filteredData"></app-combustible-x-hora>
    </div>
    <div *ngIf="currentChart === 'line'" class="chart">
      <app-estadistica-tone-proce [data]="filteredData"></app-estadistica-tone-proce>
    </div>
    <div *ngIf="currentChart === 'pie'" class="chart">
      <app-estadistica-pastel [data]="filteredData"></app-estadistica-pastel>
    </div>
    <div *ngIf="currentChart === 'bar-2'" class="chart">
      <app-estadistica-toneladas [data]="filteredData"></app-estadistica-toneladas>
    </div>
    <div *ngIf="currentChart === 'line-2'" class="chart">
      <app-estadistica-costo [data]="filteredData"></app-estadistica-costo>
    </div>
    <div *ngIf="currentChart === 'hielo-1'" class="chart">
      <app-hielo-recibidas [data]="filteredData"></app-hielo-recibidas>
      <app-hielo-procesables [data]="filteredData"></app-hielo-procesables>
    </div>
    <div *ngIf="currentChart === 'agua-1'" class="chart">
      <app-agua-recibidas [data]="filteredData"></app-agua-recibidas>
      <app-agua-procesables [data]="filteredData"></app-agua-procesables>
    </div>
    <div *ngIf="currentChart === 'viveres'" class="chart">
      <app-consu-vive-r [data]="filteredData"></app-consu-vive-r>
    </div>
    <div *ngIf="currentChart === 'especies'" class="chart">
      <app-toneladas-especies [data]="filteredData"></app-toneladas-especies>
    </div>
    <div *ngIf="currentChart === 'lances'" class="chart">
      <app-lances [data]="filteredData"></app-lances>
    </div>
  </div>
</div>
