<style>
  /* Ajuste para tres columnas */
@media (min-width: 992px) {
    .col-md-4 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }

  /* Estilos para los botones */
  .button-group {
    display: flex;
    gap: 10px; /* Espacio entre botones */
    justify-content: flex-end; /* Alinea los botones a la derecha */
    margin-top: 1rem;
  }

  .btn-contact {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #4a90e2;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }

  .cancel-button {
  background-color: #ff7676;
  color: white;
  border-radius: 6px;
  }
  .btn-contact:hover {
    background-color: #357ab8;
  }

  .btn-contact:active {
    background-color: #2b5a84;
    transform: scale(0.98);
  }

  /* Habilitar el desplazamiento en dispositivos móviles */
  @media (max-width: 576px) {
    .form-container {
      overflow-y: auto; /* Habilita el desplazamiento vertical */
      max-height: 80vh; /* Limita la altura máxima del contenedor del formulario */
    }

    .btn-contact {
      padding: 8px 16px;
      font-size: 0.875rem;
    }

    .button-group {
      justify-content: center; /* Alinea los botones al centro en pantallas pequeñas */
    }
  }

</style>
<div class="ccontainer-contact">
  <div class="d-flex flex-wrap align-items-center justify-content-center rounded-end bg-white p-4 form-container">
    <div class="w-100">
      <h4 class="h2 font-weight-semibold text-center mb-4">Editar Lance {{ embarcacionNombre }}</h4>

      <form [formGroup]="formEDP" (ngSubmit)="save()">
          <!-- <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Fecha</label>
            <input type="date" class="form-control custom-focus-ring" formControlName="fecha" readonly>
          </div> -->

        <div class="row mb-2">

          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">N° de alcance</label>
            <input type="number" placeholder="N° de alcance" class="form-control custom-focus-ring" formControlName="numero_alcance">
          </div>

          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Especie</label>
            <select class="form-control custom-focus-ring" formControlName="especie">
              <option value="-1">Seleccione Especie</option>
              <option *ngFor="let especie of especies" [value]="especie.id">{{ especie.nombre }}</option>
            </select>
          </div>

          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Estrato</label>
            <select class="form-control custom-focus-ring" formControlName="estrato">
              <option value="">Seleccione Estrato</option>
              <option value="I">I</option>
              <option value="II">II</option>
              <option value="III">III</option>
            </select>
          </div>

          <!-- <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Zona de Pesca</label>
            <select class="form-control custom-focus-ring" formControlName="zona_pesca" readonly>
              <option value="-1">Seleccione Zona de Pesca</option>
              <option *ngFor="let zona of zona" [value]="zona.id">{{ zona.nombre }}</option>
            </select>
          </div> -->

        </div>
        <div class="row mb-2">
          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Profundidad</label>
            <input type="number" placeholder="Rango Inicial" class="form-control custom-focus-ring" formControlName="profundidad">
          </div>
          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Tiempo Efectivo</label>
            <input type="number" placeholder="Rango Inicial" class="form-control custom-focus-ring" formControlName="tiempo_efectivo">
          </div>
          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Rango de Talla I</label>
            <input type="number" placeholder="Talla inicial" class="form-control custom-focus-ring" formControlName="rango_talla_inicial">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Rango de Talla F</label>
            <input type="number" placeholder="Talla final" class="form-control custom-focus-ring" formControlName="rango_talla_final">
          </div>
          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Moda</label>
            <input type="number" placeholder="Moda" class="form-control custom-focus-ring" formControlName="moda">
          </div>
          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">% Juvenil</label>
            <input type="number" placeholder="%" class="form-control custom-focus-ring" formControlName="porcentaje">
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Act. R</label>
            <input type="number" placeholder="AR" class="form-control custom-focus-ring" formControlName="ar">
          </div>
          <div class="col-md-4 mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Captura (t)</label>
            <input type="number" class="form-control custom-focus-ring" formControlName="numero">
          </div>

        </div>
        <div class="button-group">
          <button class="mb-2 w-100 btn btn-primary custom-focus-ring btn-contact" cdkFocusInitial [disabled]="!formEDP.valid">Enviar</button>
          <button type="button" class="cancel-button mb-2 w-100" (click)="cancel()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
