<div class="ccontainer-contact">
    <div class="d-flex flex-wrap align-items-center justify-content-center rounded-end bg-white p-4 form-container">
      <div class="w-100">
        <h1 class="h5 font-weight-semibold text-center mb-4">Diario de Pesca</h1>
        <form [formGroup]="formEDP" (ngSubmit)="save()">
          <div class="row mb-2">

            <select class="form-control custom-focus-ring" formControlName="embarcacion">
              <option value="-1">Seleccione Embarcaciones</option>
              <option *ngFor="let embarcacion of embarcaciones" [value]="embarcacion.id">{{ embarcacion.nombre }}</option>
            </select>

            <select class="form-control custom-focus-ring" formControlName="especie">
              <option value="-1">Seleccione Especie</option>
              <option *ngFor="let especie of especies" [value]="especie.id">{{ especie.nombre }}</option>
            </select>
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Fecha</label>
              <input type="date" class="form-control custom-focus-ring" formControlName="fecha">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">N° de alcance</label>
              <input type="number" placeholder="N° de alcance" class="form-control custom-focus-ring" formControlName="numero_alcance">
            </div>
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Zona de Pesca</label>
              <input type="text" placeholder="Zona" class="form-control custom-focus-ring" formControlName="zona_pesca">
            </div>
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Estrato</label>
              <select class="form-control custom-focus-ring" formControlName="estrato">
                <option value="">Seleccione Estrato</option>
                <option value="I">I</option>
                <option value="II">II</option>
                <option value="III">III</option>
              </select>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Profundidad</label>
              <input type="number" placeholder="Rango Inicial" class="form-control custom-focus-ring" formControlName="profundidad">
            </div>
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Tiempo Efectivo</label>
              <input type="time" placeholder="Rango Inicial" class="form-control custom-focus-ring" formControlName="tiempo_efectivo">
            </div>
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Rango de Talla I</label>
              <input type="number" placeholder="Talla inicial" class="form-control custom-focus-ring" formControlName="rango_talla_inicial">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Rango de Talla F</label>
              <input type="number" placeholder="Talla final" class="form-control custom-focus-ring" formControlName="rango_talla_final">
            </div>
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Moda</label>
              <input type="number" placeholder="Moda" class="form-control custom-focus-ring" formControlName="moda">
            </div>
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">%</label>
              <input type="number" placeholder="%" class="form-control custom-focus-ring" formControlName="porcentaje">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">AR</label>
              <input type="number" placeholder="AR" class="form-control custom-focus-ring" formControlName="ar">
            </div>
            <div class="col-md-4 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">N° de</label>
              <input type="number" class="form-control custom-focus-ring" formControlName="numero">
            </div>
          </div>
          <div class="button-group">
            <button class="mb-2 w-100 btn btn-primary custom-focus-ring btn-contact">Cancelar</button>
            <button class="mb-2 w-100 btn btn-primary custom-focus-ring btn-contact">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

