<div *ngIf="showStepper" class="stepper-container">

  <mat-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Kilos recibidos</ng-template>

        <div class="form-group">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Fecha</mat-label>
            <input matInput type="date" formControlName="fecha">
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Días en Mar</mat-label>
            <input matInput formControlName="consumo_viveres" placeholder="consumo_viveres" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Embarcacion</mat-label>
            <mat-select formControlName="embarcacion" (selectionChange)="calculateTotalVivieres($event.value); onSelectEmbarcacion($event.value)">
              <mat-option value="">Seleccione Embarcacion</mat-option>
              <mat-option *ngFor="let embarcacion of embarcaciones" [value]="embarcacion.id">{{ embarcacion.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Zona de Pesca</mat-label>
            <mat-select formControlName="zona_pesca">
              <mat-option value="">Seleccione la Zona</mat-option>
              <mat-option *ngFor="let zona of zona_pesca" [value]="zona.id">{{ zona.nombre }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Horas de Faena</mat-label>
            <input matInput formControlName="horas_faena" placeholder="Horas de Faena" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Kilos Declarados</mat-label>
            <input matInput formControlName="kilos_declarados" placeholder="Kilos Declarados" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Merluza (kg)</mat-label>
            <input matInput type="number" formControlName="merluza" placeholder="Merluza" min="0">
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Bereche (kg)</mat-label>
            <input matInput type="number" formControlName="bereche" placeholder="Bereche" min="0">
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Volador (kg)</mat-label>
            <input matInput type="number" formControlName="volador" placeholder="Volador" min="0">
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Merluza NP (kg)</mat-label>
            <input matInput type="number" formControlName="merluza_descarte" placeholder="Merluza NP" min="0">
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Especie Adicional</mat-label>
            <input matInput formControlName="otro" placeholder="Nombre especie">
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Especie A(kg)</mat-label>
            <input matInput type="number" formControlName="kilo_otro" placeholder="Kilos">
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Precio Especie A</mat-label>
            <input matInput type="number" formControlName="precio_otro" placeholder="Precio">
          </mat-form-field>

        </div>

        <div class="button-group">
          <button mat-raised-button color="warn" (click)="closeStepper()">Cerrar</button>
          <button mat-raised-button matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>

    <!-- Segundo Paso -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Consumo de tripulación</ng-template>

        <div class="form-group">
          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Consumo de Gasolina (gal)</mat-label>
            <input matInput formControlName="consumo_gasolina" placeholder="Gasolina (gal)" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Costo de galon de gasolina </mat-label>
            <input matInput formControlName="costo_gasolina" placeholder="" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Consumo de Hielo (TM)</mat-label>
            <input matInput formControlName="consumo_hielo" placeholder="Hielo (TM)" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Costo de Hielo (TM)</mat-label>
            <input matInput formControlName="costo_hilo" placeholder="" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Consumo de Agua (m3)</mat-label>
            <input matInput formControlName="consumo_agua" placeholder="Agua (M3)" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Costo de Agua (m3)</mat-label>
            <input matInput formControlName="costo_agua" placeholder="" readonly>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Días de inpección</mat-label>
            <input matInput formControlName="dias_inspeccion" placeholder="Días de inspección" required>
          </mat-form-field>

          <mat-form-field appearance="outline" class="half-width">
            <mat-label>Tipo de Cambio</mat-label>
            <input matInput formControlName="tipo_cambio" placeholder="" readonly>
          </mat-form-field>

          <!-- Agrega los demás campos del segundo paso aquí -->
          <div>
            <button mat-raised-button color="warn" (click)="closeStepper()">Cerrar</button>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-button matStepperNext>Siguiente</button>
          </div>

        </div>
      </form>
    </mat-step>

    <!-- Paso Final -->
    <mat-step>
      <ng-template matStepLabel>Finalizado</ng-template>
      <p>Has completado el formulario.</p>
      <div>
        <button mat-raised-button color="primary" (click)="submitForm()">Enviar Formulario</button>
        <button mat-button matStepperPrevious>Atrás</button>
        <button mat-button (click)="stepper.reset()">Reiniciar</button>
        <button mat-raised-button color="warn" (click)="closeStepper()">Cerrar</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

