.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.half-width {
  width: calc(50% - 16px); /* Ajuste para el espacio entre los campos */
  margin-right: 16px; /* Espacio entre los campos */
  margin-bottom: 16px; /* Espacio inferior para separar filas */
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto; /* Permitir desplazamiento vertical */
  max-height: 70vh; /* Altura máxima ajustada para el contenedor del formulario */
  padding: 16px; /* Espacio interno para el contenedor */
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

/* Ajustes para el botón de modo de edición */
.edit-mode-button {
  padding: 4px 8px; /* Tamaño pequeño */
  font-size: 0.75rem; /* Tamaño de fuente reducido */
  font-weight: bold;
  color: #ffffff;
  background-color: #4a90e2;
  border-radius: 4px; /* Radio de borde ajustado */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: absolute;
  top: -20px; /* Ajustar la posición más arriba */
  left: 16px; /* Ajuste desde el borde izquierdo */
  z-index: 1; /* Asegura que el botón esté por encima de otros elementos */
}

.edit-mode-button:hover {
  background-color: #357
}

