
<button mat-raised-button class="edit-mode-button" (click)="isEditable = !isEditable">
  {{!isEditable ? 'Habilitar modo de edición' : 'Deshabilitar modo de edición'}}
</button>

<mat-stepper linear #stepper>
  <!-- Primer Paso -->
  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Kilos recibidos</ng-template>

      <div class="form-group">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Fecha</mat-label>
          <input matInput type="date" formControlName="fecha">
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Días en Mar</mat-label>
          <input matInput formControlName="consumo_viveres" placeholder="consumo_viveres" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Embarcacion</mat-label>
          <mat-select formControlName="embarcacion" (selectionChange)="calculateTotalVivieres($event.value); onSelectEmbarcacion($event.value)">
            <mat-option value="">Seleccione Embarcacion</mat-option>
            <mat-option *ngFor="let embarcacion of embarcaciones" [value]="embarcacion.id">{{ embarcacion.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Zona de Pesca</mat-label>
          <mat-select formControlName="zona_pesca">
            <mat-option value="">Seleccione la Zona</mat-option>
            <mat-option *ngFor="let zona of zona_pesca" [value]="zona.id">{{ zona.nombre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Horas de Faena</mat-label>
          <input matInput formControlName="horas_faena" placeholder="Horas de Faena" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Kilos Declarados</mat-label>
          <input matInput formControlName="kilos_declarados" placeholder="Kilos Declarados" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Merluza (kg)</mat-label>
          <input matInput type="number" formControlName="merluza" placeholder="Merluza" min="0">
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Bereche (kg)</mat-label>
          <input matInput type="number" formControlName="bereche" placeholder="Bereche" min="0">
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Volador (kg)</mat-label>
          <input matInput type="number" formControlName="volador" placeholder="Volador" min="0">
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Merluza de Descarte (kg)</mat-label>
          <input matInput type="number" formControlName="merluza_descarte" placeholder="Merluza de Descarte" min="0">
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Otra Especie</mat-label>
          <input matInput formControlName="otro" placeholder="Otra Especie">
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Kilos Otra Especie</mat-label>
          <input matInput type="number" formControlName="kilo_otro" placeholder="Kilos">
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Costo Basico</mat-label>
          <input matInput type="number" formControlName="costo_basico" placeholder="Merluza de Descarte" min="0">
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Total de Tripulación</mat-label>
          <input matInput type="number" formControlName="total_tripulacion" placeholder="Total Tripulación">
        </mat-form-field>
      </div>

      <div class="button-group">
        <button mat-raised-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>

  <!-- Segundo Paso -->
  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Consumo de tripulación</ng-template>

      <div class="form-group">
        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Consumo de Gasolina</mat-label>
          <input matInput formControlName="consumo_gasolina" placeholder="Consumo de Gasolina" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Consumo de Hielo</mat-label>
          <input matInput formControlName="consumo_hielo" placeholder="Total Gasolina" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Consumo de Agua</mat-label>
          <input matInput formControlName="consumo_agua" placeholder="consumo_agua" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="half-width">
          <mat-label>Días de inpección</mat-label>
          <input matInput formControlName="dias_inspeccion" placeholder="dias_inspeccion" required>
        </mat-form-field>

        <!-- Agrega los demás campos del segundo paso aquí -->
        <div>
          <button mat-button matStepperPrevious>Atrás</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>

      </div>
    </form>
  </mat-step>

  <!-- Paso Final -->
  <mat-step>
    <ng-template matStepLabel>Finalizado</ng-template>
    <p>Has completado el formulario.</p>
    <div>
      <button mat-raised-button color="primary" (click)="submitForm()">Enviar Formulario</button>
      <button mat-button matStepperPrevious>Atrás</button>
      <button mat-button (click)="stepper.reset()">Reiniciar</button>
    </div>
  </mat-step>
</mat-stepper>
