<form [formGroup]="formCVZ" (ngSubmit)="postCostoViEm()" class="form-container">
  <div class="form-group">
    <label for="embarcacion" class="form-label">Embarcación</label>
    <select id="embarcacion" class="form-control" formControlName="embarcacion">
      <option value="">Seleccione Embarcacion</option>
      <option *ngFor="let embarcacion of embarcaciones" [value]="embarcacion.id">{{ embarcacion.nombre }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="costo_zarpe" class="form-label">Costo por Zarpe</label>
    <input id="costo_zarpe" type="number" placeholder="Costo por zarpe" class="form-control" formControlName="costo_zarpe">
  </div>
  <div class="button-group">
    <button type="button" class="btn btn-secondary" (click)="dialogRef.close()">Cancelar</button>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
