<nav class="sidebar">
    <div class="logo">
        <img src="/logo_santa.png" width="40px" alt="Logo" class="icon-md">
        <span>Santa Monica</span>
    </div>
    <button class="menu-hamburger">
        <i class="fas fa-bars"></i>
    </button>
    <div class="menu-section">
        <h3>SECCIONES</h3>
        <ul>
            <li routerLink="ss" routerLinkActive="active"><i class="fas fa-fish custom-icon"></i>Seguimiento de Pesca</li>
        </ul>
    </div>
    <button class="logout-btn" routerLink="/login">Cerrar sesión</button>
    <div class="user-profile">
        <img src="/logo_santa.png" width="40px" alt="User" class="avatar-md">
        <div>
            <span class="user-name">Santa Monica</span>
            <span class="user-role">Admin</span>
        </div>
    </div>
</nav>

<!-- Asegúrate de incluir jQuery en tu página -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

