<div class="dialog-content">
  <div class="form-container">
    <h4>Especies</h4>
    <form [formGroup]="formCreateEspecie" (ngSubmit)="save()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" id="nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="nombre">Precio</label>
        <input type="number" formControlName="precio" id="precio" name="precio" required>
      </div>
      <div class="button-group">
        <button type="submit" class="submit-button" cdkFocusInitial [disabled]="!formCreateEspecie.valid">Guardar</button>
        <button type="button" class="cancel-button" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
