<style>
/**/
.agregar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.agregar-container h3 {
  margin-right: 10px;
  color: #0A4F81;
  line-height: 1;
}

.btn-celeste {
  background-color: #004fa4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  line-height: 1;
  display: flex;
  align-items: center; /* Centra el contenido del botón verticalmente */
}

/*tabla ng material*/

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  padding: 8px;
  border: 1px solid #ddd;}

.mat-elevation-z8 {
  overflow-x: auto;
  max-width: 100%;
}

.dd{
  background-color: white;
}
body {
  background-color: white;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-item {
  flex: 0 1 auto;
  min-width: 150px;
}

button.filter-item {
  flex: 0 0 auto;
  height: 40px;
  line-height: 1.5;
  padding: 0 20px;}


.table-container {
  margin-top: 25px;
  width: 100%;
  overflow: auto;
}

.mat-table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
  background-color: #f5f5f5;
}

.mat-cell {
  text-align: center;
}

.btn-celeste {
  background-color: #004fa4;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.mat-button {
  margin-right: 5px;
}

.icon-center {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.selected-row {
  background-color: #e6f7ff !important;
}

.mat-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.container-b {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.filter-button {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background-color: white;
  color: #3f51b5;
  box-shadow: 0 2px 4px rgba(130, 202, 236, 0.1);
}

.filter-button.primary {
  background-color: white;
  color: #004fa4;
  border: 2px solid #004fa4;
}

.filter-button.primary:hover {
  background-color: #004fa4;
  color: white;
  box-shadow: 0 2px 4px rgba(123, 191, 227, 0.2);
}


.filter-button.warn {
  background-color: #ffc107;
  color: black;
}

.filter-button.warn:hover {
  background-color: #ffa000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.filter-button:hover {
  transform: translateY(-2px);
}


.filter-button:active {
  transform: translateY(1px);
}
</style>

<div class="dd">
  <div class="hero-section">
    <h1>Bienvenido al Registro de Flota</h1>
  </div>

  <div class="agregar-container" style="margin-top: 25px; display: flex; align-items: center;">
    <h3 style="margin: 0; margin-right: 10px;"> Añade un nuevo registro</h3>
    <span>
      <button class="btn-celeste" (click)="openCreateFormFlota()">
        <i class="fas fa-plus"></i>
      </button>
    </span>
  </div>

  <div class="container" style="display: flex; justify-content: center;">
    <h3>Registro de Flota</h3>
  </div>

  <div class="filter-container">
    <mat-form-field appearance="outline" class="filter-item">
      <mat-label>Filtra por Embarcación</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Santa Monica I" #input>
    </mat-form-field>
  </div>

  <div class="filter-container">
    <mat-form-field appearance="outline" class="filter-item">
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [matDatepicker]="startDatePicker" placeholder="Inicio" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="filter-item">
      <mat-label>Fecha Fin</mat-label>
      <input matInput [matDatepicker]="endDatePicker" placeholder="Fin" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <div class="container-b">
      <button mat-raised-button color="primary" class="filter-item filter-button primary" (click)="applyDateFilter()">Aplicar</button>
      <button *ngIf="isDateFiltered" mat-raised-button color="warn" class="filter-item filter-button warn" (click)="clearDateFilter()">Quitar Filtro</button>
    </div>

  </div>

  <!-- Tabla para listar los registros de FlotaDP -->
  <div class="table-container" style="margin-top: 25px;">
    <table mat-table [dataSource]="dataSource" matSort matSortActive="fecha" matSortDirection="desc" class="mat-elevation-z8">

      <!-- Columna Fecha -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
      </ng-container>

      <!-- Columna Embarcación -->
      <ng-container matColumnDef="embarcacion">
        <th mat-header-cell *matHeaderCellDef> Embarcación </th>
        <td mat-cell *matCellDef="let row"> {{row.embarcacionNombre}} </td>
      </ng-container>

      <!-- Columna Zona de Pesca -->
      <ng-container matColumnDef="zona_pesca">
        <th mat-header-cell *matHeaderCellDef> Zona de Pesca </th>
        <td mat-cell *matCellDef="let row"> {{row.zonaNombre}} </td>
      </ng-container>


      <!-- Columna Horas de Faena -->
      <ng-container matColumnDef="horas_faena">
        <th mat-header-cell *matHeaderCellDef> Horas de Faena </th>
        <td mat-cell *matCellDef="let row"> {{row.horas_faena}} h</td>
      </ng-container>

      <!-- Columna Tipo de Cambio -->
      <ng-container matColumnDef="tipo_cambio">
        <th mat-header-cell *matHeaderCellDef> Tipo de Cambio </th>
        <td mat-cell *matCellDef="let row"> S/ {{row.tipo_cambio}} </td>
      </ng-container>

      <!-- Columna Kilos Declarados -->
      <ng-container matColumnDef="kilos_declarados">
        <th mat-header-cell *matHeaderCellDef> Kilos Declarados </th>
        <td mat-cell *matCellDef="let row"> {{row.kilos_declarados}} kg</td>
      </ng-container>

      <!-- Columna Merluza -->
      <ng-container matColumnDef="merluza">
        <th mat-header-cell *matHeaderCellDef> Merluza (kg) </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.merluza !== null && row.merluza !== undefined && row.merluza !== ''">
            {{ row.merluza }} kg
          </ng-container>
        </td>
      </ng-container>

      <!-- Columna Bereche -->
      <ng-container matColumnDef="bereche">
        <th mat-header-cell *matHeaderCellDef> Bereche (kg) </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.bereche !== null && row.bereche !== undefined && row.bereche !== ''">
            {{ row.bereche }} kg
          </ng-container>
        </td>
      </ng-container>

      <!-- Columna Volador -->
      <ng-container matColumnDef="volador">
        <th mat-header-cell *matHeaderCellDef> Volador (kg) </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.volador !== null && row.volador !== undefined && row.volador !== ''">
            {{ row.volador }} kg
          </ng-container>
        </td>
      </ng-container>

      <!-- Columna Merluza Descarte -->
      <ng-container matColumnDef="merluza_descarte">
        <th mat-header-cell *matHeaderCellDef> Merluza Descarte (kg) </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.merluza_descarte !== null && row.merluza_descarte !== undefined && row.merluza_descarte !== ''">
            {{ row.merluza_descarte }} kg
          </ng-container>
        </td>
      </ng-container>

      <!-- Columna Otro -->
      <ng-container matColumnDef="otro">
        <th mat-header-cell *matHeaderCellDef> Otro </th>
        <td mat-cell *matCellDef="let row"> {{row.otro ?? ' '}} </td>
      </ng-container>

      <!-- Columna Kilo Otro -->
      <ng-container matColumnDef="kilo_otro">
        <th mat-header-cell *matHeaderCellDef> Kilo Otro </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.kilo_otro !== null && row.kilo_otro !== undefined && row.kilo_otro !== ''">
            {{ row.kilo_otro }} kg
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="precio_otro">
        <th mat-header-cell *matHeaderCellDef>Precio de Especie</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.precio_otro !== null && row.precio_otro !== undefined && row.precio_otro !== ''">
            S/{{ row.precio_otro }}
          </ng-container>
        </td>
      </ng-container>

      <ng-container matColumnDef="precio_basico">
        <th mat-header-cell *matHeaderCellDef>Costo de Especies </th>
        <td mat-cell *matCellDef="let row"> S/{{row.costo_basico ?? ' '}} </td>
      </ng-container>

      <!-- Columna Toneladas Procesadas -->
      <ng-container matColumnDef="toneladas_procesadas">
        <th mat-header-cell *matHeaderCellDef> Toneladas Procesadas </th>
        <td mat-cell *matCellDef="let row"> {{row.toneladas_procesadas}} t</td>
      </ng-container>

      <!-- Columna Toneladas Recibidas -->
      <ng-container matColumnDef="toneladas_recibidas">
        <th mat-header-cell *matHeaderCellDef> Toneladas Recibidas </th>
        <td mat-cell *matCellDef="let row"> {{row.toneladas_recibidas}} t</td>
      </ng-container>

      <ng-container matColumnDef="participacion">
        <th mat-header-cell *matHeaderCellDef> Participación </th>
        <td mat-cell *matCellDef="let row"> S/{{row.participacion}} </td>
      </ng-container>

      <ng-container matColumnDef="bonificacion">
        <th mat-header-cell *matHeaderCellDef> Bonificación </th>
        <td mat-cell *matCellDef="let row"> S/{{row.bonificacion}} </td>
      </ng-container>

      <ng-container matColumnDef="total_participacion">
        <th mat-header-cell *matHeaderCellDef> Total Participación </th>
        <td mat-cell *matCellDef="let row"> S/{{row.total_participacion}} </td>
      </ng-container>

      <ng-container matColumnDef="aporte_REP">
        <th mat-header-cell *matHeaderCellDef> REP </th>
        <td mat-cell *matCellDef="let row"> S/{{row.aporte_REP}} </td>
      </ng-container>

      <ng-container matColumnDef="gratificacion">
        <th mat-header-cell *matHeaderCellDef> Gratificacion </th>
        <td mat-cell *matCellDef="let row"> S/{{row.gratificacion}} </td>
      </ng-container>

      <ng-container matColumnDef="vacaciones">
        <th mat-header-cell *matHeaderCellDef> Vacaciones </th>
        <td mat-cell *matCellDef="let row"> S/{{row.vacaciones}} </td>
      </ng-container>

      <ng-container matColumnDef="cts">
        <th mat-header-cell *matHeaderCellDef> CTS </th>
        <td mat-cell *matCellDef="let row"> S/{{row.cts}} </td>
      </ng-container>

      <ng-container matColumnDef="essalud">
        <th mat-header-cell *matHeaderCellDef> essalud </th>
        <td mat-cell *matCellDef="let row"> S/{{row.essalud}} </td>
      </ng-container>

      <ng-container matColumnDef="senati">
        <th mat-header-cell *matHeaderCellDef> senati </th>
        <td mat-cell *matCellDef="let row"> S/{{row.senati}} </td>
      </ng-container>

      <ng-container matColumnDef="SCTR_SAL">
        <th mat-header-cell *matHeaderCellDef> SCTR_SAL </th>
        <td mat-cell *matCellDef="let row"> S/{{row.SCTR_SAL}} </td>
      </ng-container>

      <ng-container matColumnDef="SCTR_PEN">
        <th mat-header-cell *matHeaderCellDef> SCTR_PEN </th>
        <td mat-cell *matCellDef="let row"> S/{{row.SCTR_PEN}} </td>
      </ng-container>

      <ng-container matColumnDef="poliza_seguro">
        <th mat-header-cell *matHeaderCellDef> poliza_seguro </th>
        <td mat-cell *matCellDef="let row"> S/{{row.poliza_seguro}} </td>
      </ng-container>

      <!-- Columna Total Tripulación -->
      <ng-container matColumnDef="total_tripulacion">
        <th mat-header-cell *matHeaderCellDef> Total Tripulación </th>
        <td mat-cell *matCellDef="let row"> S/{{row.total_tripulacion}} </td>
      </ng-container>

      <!-- Columna Consumo Gasolina -->
      <ng-container matColumnDef="consumo_gasolina">
        <th mat-header-cell *matHeaderCellDef> Galones Gasolina </th>
        <td mat-cell *matCellDef="let row"> {{row.consumo_gasolina}} gal. </td>
      </ng-container>

      <!-- Columna Total Gasolina -->
      <ng-container matColumnDef="total_gasolina">
        <th mat-header-cell *matHeaderCellDef> Total Gasolina </th>
        <td mat-cell *matCellDef="let row"> S/{{row.total_gasolina}} </td>
      </ng-container>

      <ng-container matColumnDef="galon_hora">
        <th mat-header-cell *matHeaderCellDef>Galon por H.</th>
        <td mat-cell *matCellDef="let row"> {{row.galon_hora}} gal.</td>
      </ng-container>

      <!-- Columna Consumo Hielo -->
      <ng-container matColumnDef="consumo_hielo">
        <th mat-header-cell *matHeaderCellDef> Consumo Hielo </th>
        <td mat-cell *matCellDef="let row"> {{row.consumo_hielo}} </td>
      </ng-container>

      <!-- Columna Total Hielo -->
      <ng-container matColumnDef="total_hielo">
        <th mat-header-cell *matHeaderCellDef> Total Hielo </th>
        <td mat-cell *matCellDef="let row"> S/{{row.total_hielo}} </td>
      </ng-container>

      <!-- Columna Consumo Agua -->
      <ng-container matColumnDef="consumo_agua">
        <th mat-header-cell *matHeaderCellDef> Consumo Agua </th>
        <td mat-cell *matCellDef="let row"> {{row.consumo_agua}} </td>
      </ng-container>

      <!-- Columna Total Agua -->
      <ng-container matColumnDef="total_agua">
        <th mat-header-cell *matHeaderCellDef> Total Agua </th>
        <td mat-cell *matCellDef="let row"> S/{{row.total_agua}} </td>
      </ng-container>

      <!-- Columna Consumo Viveres -->
      <ng-container matColumnDef="consumo_viveres">
        <th mat-header-cell *matHeaderCellDef> Días de consumo Viveres </th>
        <td mat-cell *matCellDef="let row"> {{row.consumo_viveres}} </td>
      </ng-container>

      <!-- Columna Total Viveres -->
      <ng-container matColumnDef="total_vivieres">
        <th mat-header-cell *matHeaderCellDef> Total Viveres </th>
        <td mat-cell *matCellDef="let row"> S/{{row.total_vivieres}} </td>
      </ng-container>

      <!-- Columna Días Inspección -->
      <ng-container matColumnDef="dias_inspeccion">
        <th mat-header-cell *matHeaderCellDef> Días Inspección </th>
        <td mat-cell *matCellDef="let row"> {{row.dias_inspeccion}} </td>
      </ng-container>

      <!-- Columna Total Servicio Inspección -->
      <ng-container matColumnDef="total_servicio_inspeccion">
        <th mat-header-cell *matHeaderCellDef> Total Servicio Inspección </th>
        <td mat-cell *matCellDef="let row"> S/{{row.total_servicio_inspeccion}} </td>
      </ng-container>

      <!-- Columna Costo Otro -->
      <ng-container matColumnDef="total_derecho_pesca">
        <th mat-header-cell *matHeaderCellDef> Derecho de Pesca </th>
        <td mat-cell *matCellDef="let row"> S/{{row.total_derecho_pesca}} </td>
      </ng-container>

      <!-- Columna Total Costo -->
      <ng-container matColumnDef="total_costo">
        <th mat-header-cell *matHeaderCellDef> Total Costo </th>
        <td mat-cell *matCellDef="let row"> S/{{row.total_costo}} </td>
      </ng-container>

      <ng-container matColumnDef="costo_tm_captura">
        <th mat-header-cell *matHeaderCellDef>Costo por captura</th>
        <td mat-cell *matCellDef="let row"> S/{{row.costo_tm_captura}} </td>
      </ng-container>

      <ng-container matColumnDef="csot">
        <th mat-header-cell *matHeaderCellDef>CSOT</th>
        <td mat-cell *matCellDef="let row"> S/{{row.csot}} </td>
      </ng-container>

      <ng-container matColumnDef="lances">
        <th mat-header-cell *matHeaderCellDef>Lances</th>
        <td mat-cell *matCellDef="let row">
          <i class="fas fa-fish icon-center" (click)="openFomrCreateLances(row)"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{'selected-row': row.id === flotaDPId}"
      (click)="selectFlota(row.id)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
