
.hero-section {
  position: relative;
  width: 100%;
  height: 200px; /* Ajusta la altura según tus necesidades */
  background-image: url(../../../../../public/embarcaciones.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section h1 {
  position: relative;
  z-index: 1;
  color: hsl(0, 100%, 100%);
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .hero-section {
    height: 100px; /* Ajusta la altura según tus necesidades para dispositivos móviles */
  }

  .hero-section h1 {
    display: none;
  }

  .hero-section::after {
    content: "Bienvenido";
    position: absolute;
    z-index: 1;
    color: hsl(0, 100%, 100%);
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 24px; /* Ajusta el tamaño de la fuente según tus necesidades */
    top: 50%; /* Ajusta la posición vertical según tus necesidades */
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.agregar-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.agregar-container h3 {
  margin-right: 10px;
  color: #0A4F81;
  line-height: 1;
}

.btn-celeste {
  background-color: #004fa4;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  line-height: 1;
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  padding: 8px;
  border: 1px solid #ddd;}

.mat-elevation-z8 {
  overflow-x: auto;
  max-width: 100%;
}

.dd{
  background-color: white;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-item {
  flex: 0 1 auto;
  min-width: 150px;
}

button.filter-item {
  flex: 0 0 auto;
  height: 40px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    align-items: center;
  }

  .filter-item {
    width: 100%;
    max-width: none; /* Elimina el ancho máximo en pantallas móviles para usar el 100% */
  }

  .button-container {
    flex-direction: column; /* Apila los botones verticalmente */
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  h3{
    text-align: center;
  }
}


.table-container {
  margin-top: 25px;
  width: 100%;
  overflow: auto;
}

.mat-table {
  width: 100%;
}

.btn-celeste {
  background-color: #004fa4;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.mat-button {
  margin-right: 5px;
}

.icon-center {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
}

.selected-row {
  background-color: #e6f7ff !important;
}

.mat-row:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}


.filter-button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px rgba(130, 202, 236, 0.1);
}

.filter-button.primary,
.filter-button.warn {
  background-color: white;
  color: #004fa4;
  border: 2px solid #004fa4;
  width: 200px;
  height: 45px;
  text-align: center;

}

.filter-button.primary:hover {
  background-color: #004fa4;
  color: white;
  box-shadow: 0 2px 4px rgba(123, 191, 227, 0.2);
}

.custom-icon-button {
  background-color: transparent;
  border: none;
  padding: 4px;
  border-radius: 50%;
}


.otraes-column{
  background-color: #f5efff;
}

.otraes-column {
  color: #39144a; /* Un verde oscuro para el texto */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-icon-button {
  margin-left: auto; /* Esto empuja el botón hacia la derecha */
}


.mat-table {
  width: 100%; /* Asegura que la tabla ocupe el 100% del ancho del contenedor */
}

.mat-paginator {
  margin-top: 10px;}
