/* gastos-generales.component.css */

.table-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espaciado entre las tablas */
  flex-wrap: wrap; /* Asegura que las tablas se ajusten si hay poco espacio */
}

.table-wrapper {
  flex: 1;
  min-width: 300px; /* Asegura que las tablas no sean demasiado pequeñas */
}

.table-wrapper h3 {
  text-align: center;
}

.mat-elevation-z8 {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%; /* Hace que la tabla ocupe todo el ancho del contenedor */
  border-collapse: collapse;
  margin: 0 auto; /* Centra la tabla horizontalmente */
}

th, td {
  padding: 8px 16px;
  text-align: center;
}

th {
  background-color: #f1f1f1;
  font-weight: bold;
}

td {
  background-color: #fff;
}

th, td {
  border: 1px solid #ddd;
}

th.mat-sort-header {
  cursor: pointer;
}

