<div class="table-container">
  <div class="table-wrapper">
    <div class="title-button-container">
      <h3>Especies</h3>
      <span><button class="btn-celeste add-btn" (click)="openFormEspecie()" ><i class="fas fa-plus"></i></button></span>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceEspecies" matSort>

        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row"> {{row.fecha | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
        </ng-container>

        <!-- Costo Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Tarifa </th>
          <td mat-cell *matCellDef="let row"> S/{{row.precio}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actualizar</th>
          <td mat-cell *matCellDef="let row" class="icon-cell">
            <i class="fas fa-pencil-alt" (click)="openPutEspecie(row)" style="padding: 0 10px;"></i>
            <i class="fas fa-trash-alt" (click)="deleteEspecie(row.id)" style="padding: 0 10px;"></i>
          </td>
          <td mat-cell *matCellDef="let row"> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumnsEspecies"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsEspecies;"></tr>

      </table>
    </div>
    <div class="paginator-container">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="title-button-container">
      <h3>Embarcaciones</h3>
    <span><button class="btn-celeste" (click)="openCreateFormVE()"><i class="fas fa-plus"></i></button></span>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceViveresEmbarcacion" matSort>
        <!-- Fecha Column -->
        <ng-container matColumnDef="embarcacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Embarcación </th>
          <td mat-cell *matCellDef="let row"> {{ (row.nombre) }} </td>
        </ng-container>

        <!-- Costo Column -->
        <ng-container matColumnDef="costo_zarpe">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo por Zarpe en Viveres </th>
          <td mat-cell *matCellDef="let row"> S/{{row.costo_zarpe}} </td>
        </ng-container>

        <ng-container matColumnDef="bonificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Bonificación </th>
          <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="row.bonificacion; else noBonificacion">
              S/{{row.bonificacion}}
            </ng-container>
            <ng-template #noBonificacion>

            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="boner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de Boner </th>
          <td mat-cell *matCellDef="let row"> {{row.boner}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actualizar</th>
          <td mat-cell *matCellDef="let row">
            <i class="fas fa-pencil-alt" (click)="openPutEmbarcacion(row)" style="padding: 0 10px;"></i>
            <i class="fas fa-trash-alt" (click)="deleteEmbarcacion(row.id)" style="padding: 0 10px;"></i>
          </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnsViveresEmbarcacion"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumnsViveresEmbarcacion;"></tr>
      </table>
    </div>
    <div class="paginator-container">
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="title-button-container">
      <h3>Costo de Galón de Combustible</h3>
      <span><button class="btn-celeste add-btn" (click)="openFormB05()" ><i class="fas fa-plus"></i></button></span>
    </div>
    <div class="last-cost">Último Costo: S/{{ lastCosto?.costo }}</div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row"> {{row.fecha | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Costo Column -->
        <ng-container matColumnDef="costo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
          <td mat-cell *matCellDef="let row"> S/{{row.costo}} </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="title-button-container">
      <h3>Costo TM de Hielo</h3>
      <span><button class="btn-celeste add-btn" (click)="openFormHielo()" ><i class="fas fa-plus"></i></button></span>
    </div>

    <div class="last-cost">Último Costo: S/{{ ultimoCostoHielo?.costo }}</div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceTMHielo" matSort>

        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row"> {{row.fecha | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Costo Column -->
        <ng-container matColumnDef="costo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
          <td mat-cell *matCellDef="let row"> S/{{row.costo}} </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnsTMHielo"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTMHielo;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="title-button-container">
      <h3>Costo M3 Agua</h3>
      <span><button class="btn-celeste add-btn" (click)="openFormAgua()" ><i class="fas fa-plus"></i></button></span>
    </div>

    <div class="last-cost">Último costo: S/{{ultimoCostoAgua?.costo}}</div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceT3Agua" matSort>

        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row"> {{row.fecha | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Costo Column -->
        <ng-container matColumnDef="costo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
          <td mat-cell *matCellDef="let row"> S/{{row.costo}} </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnsT3Agua"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumnsT3Agua;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="title-button-container">
      <h3>Tipo de Cambio</h3>
      <span><button class="btn-celeste add-btn" (click)="openFormTipoCambio()" ><i class="fas fa-plus"></i></button></span>
    </div>

    <div class="last-cost">Último costo: S/{{ultimoCostoTipoCambio?.costo}}</div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceTipoCambio" matSort>
        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
          <td mat-cell *matCellDef="let row"> {{row.fecha | date:'dd/MM/yyyy'}} </td>
        </ng-container>

        <!-- Costo Column -->
        <ng-container matColumnDef="costo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo </th>
          <td mat-cell *matCellDef="let row"> S/{{row.costo}} </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnsTipoCambio"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTipoCambio;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="title-button-container">
      <h3>Servicio de Inspección</h3>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceMecanismo" matSort>
        <!-- Fecha Column -->
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.item}} </td>
        </ng-container>

        <ng-container matColumnDef="costo_dia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Costo por día</th>
          <td mat-cell *matCellDef="let row"> S/{{row.costo_dia}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actualizar</th>
          <td mat-cell *matCellDef="let row">
            <i class="fas fa-pencil-alt" (click)="openFormEditSerInsp(row)"></i>
          </td>
          <td mat-cell *matCellDef="let row"> </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnsMecanismo"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumnsMecanismo;"></tr>
      </table>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="title-button-container">
      <h3>Derecho de Pesca</h3>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceDerechoP" matSort>
        <!-- Fecha Column -->
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.item}} </td>
        </ng-container>

        <ng-container matColumnDef="costo_dia">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Costo</th>
          <td mat-cell *matCellDef="let row"> S/{{row.costo}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actualizar</th>
          <td mat-cell *matCellDef="let row">
            <i class="fas fa-pencil-alt" (click)="openFormEditDP(row)"></i>
          </td>
          <td mat-cell *matCellDef="let row"> </td>
        </ng-container>

        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnsDerechoPesca"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumnsDerechoPesca;"></tr>
      </table>
    </div>
  </div>

  <div class="table-wrapper">
    <div class="title-button-container">
      <h3>Gastos de tripulación</h3>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceTarifas" matSort>
        <!-- Fecha Column -->
        <ng-container matColumnDef="nombre_t">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let row"> {{row.nombre_t}} </td>
        </ng-container>

        <ng-container matColumnDef="tarifa">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tarifa</th>
          <td mat-cell *matCellDef="let row"> % {{row.tarifa}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actualizar</th>
          <td mat-cell *matCellDef="let row">
            <i class="fas fa-pencil-alt" (click)="openPutGastTri(row)"></i>
          </td>
          <td mat-cell *matCellDef="let row"> </td>
        </ng-container>


        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumnsTarifas"></tr>
        <!-- Data Row -->
        <tr mat-row *matRowDef="let row; columns: displayedColumnsTarifas;"></tr>
      </table>
    </div>
  </div>

</div>
