
.table-container {
  display: flex;
  flex-wrap: wrap;
}

.table-wrapper {
  width: calc(50% - 10px);
  margin: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.last-cost {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.table-wrapper h3 {
  text-align: center;
}

.mat-elevation-z8 {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

table {
  width: 100%; /* Hace que la tabla ocupe todo el ancho del contenedor */
  border-collapse: collapse;
  margin: 0 auto; /* Centra la tabla horizontalmente */
}

th, td {
  padding: 8px 16px;
  text-align: center;
}

th {
  background-color: #f1f1f1;
  font-weight: bold;
}

td {
  background-color: #fff;
}

th, td {
  border: 1px solid #ddd;
}

th.mat-sort-header {
  cursor: pointer;
}

/* Media queries para responsividad */
@media (max-width: 1200px) {
  .table-wrapper {
    width: calc(50% - 10px);
  }
}

@media (max-width: 900px) {
  .table-wrapper {
    width: calc(100% - 10px);
  }
}

.title-button-container {
  display: flex;
  justify-content: space-between; /* Espacia el título y el botón */
  align-items: center; /* Alinea verticalmente al centro */
  margin-bottom: 10px;
  line-height: 1; /* Ajusta según sea necesario */
}

.title-button-container h3 {
  margin: 0; /* Elimina el margen para que se alinee mejor con el botón */
  font-size: 1.5rem; /* Ajusta el tamaño del texto si es necesario */
}

.add-btn {
  padding: 8px 12px; /* Aumenta el tamaño del botón */
  font-size: 14px; /* Ajusta el tamaño de la fuente */
  border-radius: 4px; /* Redondea las esquinas del botón */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  display: flex; /* Alinea el ícono dentro del botón */
  align-items: center; /* Alinea el contenido dentro del botón verticalmente */
}

.btn-celeste {
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Color del texto blanco */
  border: none; /* Quita el borde predeterminado */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
