<div class="dialog-content">
  <div class="form-container">
    <h4>El valor del Dolar hoy</h4>
    <form [formGroup]="formTipoCambio" (ngSubmit)="save()">
      <div class="form-group">
        <label for="costo">Costo</label>
        <input type="number" formControlName="costo" id="costo" name="costo" required>
      </div>
      <div class="button-group">
        <button type="submit" class="submit-button" cdkFocusInitial [disabled]="!formTipoCambio.valid">Guardar</button>
        <button type="button" class="cancel-button" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>

